.popup {  
    position: fixed;  
    width: 100%;  
    height: 100%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color: rgba(19, 226, 29, 0.5);  
  }  
  .popup\_inner {  
    position: absolute;  
    left: 25%;  
    right: 25%;  
    top: 25%;  
    bottom: 25%;  
    margin: auto;  
    border-radius: 20px;  
    background:greenyellow;  
  }

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row
  }
 

  .headPart {
    background-color:#fbb140;
  }
  
 .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: left;
  background-color: #f1f1f1;
  margin: 10px;
 }

 

 .list{
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
  padding:10px;
  overflow: scroll;
  float: left; 
  width: 20%;
  margin:5px ;
  display: inline;
  overflow: hidden;
 }

 .cardListName {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 }

 .board-header {
  height: auto;
  padding: 8px 4px 4px 8px;
  position: relative;
  transition: padding .1s ease-in;
}

.card-composer-container {
  min-height: 38px;
  max-height: 38px;
  display: flex;
  justify-content: space-between;
}

.u-fancy-scrollbar {
  -webkit-overflow-scrolling: initial;
}


.scroll {
  overflow: scroll;
}

.navFeature {
  position: fixed;
}


.landingImg {
  vertical-align: middle;
  border-style: none;
}

.col-lg-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.img-img {
  max-width: 100%;
  height: auto;
}


.gradientBack {
  background: linear-gradient(135deg, #0079bf, #5067c5);
}

.transBack {
  background: white
}
body{
  /* background: linear-gradient(135deg, #0079bf, #5067c5); */
  /* background-color:#d8eefe; */
  height:100%;
}

.cardImg {
  background: white;
  width:200px;
  height:130px;
  text-align: center
}

.cards {
  display: flex;
  width: 20%;
  padding: 0 10px;
}
.cards:hover {
  background:#53a7ea;
  cursor: pointer;
}

.cardContainer {
  background-color: #f1f1f1;
}

.boardTitle 
  { color: white;
     font-family: 'Droid serif',serif; 
     font-size: 36px; 
     font-weight: 400; 
     font-style: italic; 
     line-height: 44px; 
     margin: 0 10px 12px; 
     text-align: left; }

  .cardTitle {
    color: black;
     font-family: 'Droid serif',serif; 
     font-size: 30px; 
     font-weight: 400; 
     line-height: 44px; 
     margin: 0 10px 12px; 
     text-align: center;
  }

  #board {
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.u-fancy-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

#board::-webkit-scrollbar-track-piece {
  background: rgba(0,0,0,.15);
}


.u-fancy-scrollbar::-webkit-scrollbar-track-piece {
  background: rgba(9,30,66,.08);
}
.u-fancy-scrollbar {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
}



.board-canvas {
  background: linear-gradient(180deg,rgba(0,0,0,.24) 0,rgba(0,0,0,.24) 48px,transparent 80px,transparent);
}

.board-canvas {
  position: relative;
  flex-grow: 1;
}


body, button, html, input, select, textarea {
  color: #172b4d;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.list-wrapper:first-child {
  margin-left: 8px;
}


.list-wrapper {
  width: 272px;
  margin: 0 4px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}


.list {
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}

